/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: #161730;
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    margin: auto;
}

.header {
    background: rgba(77, 21, 91, 0.7);
    border-radius: 35px;
    padding: 0px 59px 0px 54px;
    width: 1131px;
    height: 75px;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 110px;
}
.header__item:last-child {
    margin-right: 0;
}

.header__logo{
    margin-left: 0;
}

.header__link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
    color: #fff;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 0.75;
}
